body{
background-color:green;
}
footer{
    background-color:gold
    color:black;
    position: fixed;
    bottom: ;
    width: 100%;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin: 0.5rem;
}